<h1><%= @item.name %></h1>

<%= image_tag @item.image, :class =>  'featuer' if @item.image.present? %>
<br>
<%= @item.description %>

<h3><%= number_to_currency @item.price %></h3>

<ul>

  <li>Name: <%= @item.name %></li>
  <li>Size: <%= @item.size %></li>
  <li>Style:<%= @item.style %></li>
  <li>Condition: <%= @item.condition %></li>
  <li>Color: <%= @item.color %></li>
  <li>Shipping: <%= @item.shipping %></li>

</ul>
<% if @current_user.present? %>
<div class="editor">
  <%= link_to 'Edit Item', edit_item_path(@item) %>
</div>
<% end %>
